body {
	font-family: Arial, sans-serif;
  }
  
  h1 {
	text-align: center;
	margin-top: 30px;
  }
  
  #new-item-form {
	display: flex;
	margin-bottom: 30px;
  }
  
  #new-item-form label {
	margin-right: 10px;
	font-weight: bold;
  }
  
  #new-item-input {
	flex-grow: 1;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
  }
  
  #new-item-form button {
	margin-left: 10px;
	padding: 5px 10px;
	border-radius: 5px;
	border: none;
	background-color: #0066cc;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
  }
  
  ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
  }
  
  li {
	padding: 10px;
	border-bottom: 1px solid #ccc;
	display: flex;
	justify-content: space-between;
  }
  
  li:last-child {
	border-bottom: none;
  }
  
  li.complete {
	text-decoration: line-through;
  }
  
  li button {
	border: none;
	background-color: transparent;
	color: #0066cc;
	font-weight: bold;
	cursor: pointer;
	margin-left: 10px;
  }
  